.buttonGloball {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #12a9be;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #12a9be;

  /* Centra el botón utilizando Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Asegura que el botón tenga un margen automático en lugar de un margen fijo */
  margin-left: auto;
  margin-right: auto;

  /* Hace el botón responsive ajustando el ancho máximo */
  max-width: 100%;
  box-sizing: border-box;
  /* Asegura que el ancho incluya el padding y el borde */
}

.buttonGloball:hover {

  color: #0d617b;
  box-shadow: inset 0 -100px 0 0 #fff;

}


.buttonGloball:active {
  transform: scale(0.9);
}

@media (max-width: 0px) {
  .buttonGloball {
    font-size: 16px;
    padding: 12px 40px
  }
}



.blur-background {
  backdrop-filter: blur(12px);
  /* Ajusta el valor según el nivel de desenfoque deseado */
}








/*FONDO INTERACTIVO*/


.interactive {
  z-index: 1;
  background: linear-gradient(-15deg, #0d617b, #12a9be, #b6d900);
  background-size: 400% 400%;
  width: 100%;
  animation: animate 15s ease infinite;
}




.fondoos {
  background: #f0f0f0 url('/certificate/banner.png') no-repeat center;
  background-size: cover;
  /* Ajustar la imagen de fondo para cubrir todo el elemento */

  width: 100%;
  height: 100%;
}