.cardio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.contentt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #0d617b;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.contentt .headingg {
  font-weight: 700;
  font-size: 35px;
  
}

.contentt .para {
  line-height: 1.5;
}



.cardio::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(-45deg, #12a9be 0%, #b6d900 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}



.cardio:hover::before {
  width: 100%;
}

.cardio:hover {
  box-shadow: none;
}

.cardio:hover .btnn {
  color: #212121;
  background: #e8e8e8;
}

.contentt .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.contentt .btnn:active {
  box-shadow: none;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-fadeIn {
  animation: fadeIn 2s ease-in-out;
}




@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-slideInLeft {
  animation: slideInLeft 2s ease-in-out;
}