
.form-login {
    display: flex;
    background-color:rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 3 em; /* Elimina el valor de width para que se ajuste al ancho del contenedor */
    max-width: 400px; /* Establece un ancho máximo para evitar que el formulario se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

