@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyy{
    width: 100%;
    max-width: 1280px;
    background:white;
    margin: 0 auto;
    /* height: 100vh; */
    font-family: 'Outfit', sans-serif;
    padding: 0 25px;
}


.menu{
    display: none;
}

/* hero section */
.hero-container{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding-top: 80px;
}

.content{
    width: 50%;
}

.content h2{
    font-size: 3.8em;
}
.content p{
    margin: 20px 0;
    font-size: 1.5em;
    color: rgb(59, 61, 62);
    line-height: 2.18rem;
}




/* blob */
.blob {
    width: 500px;
    height: 500px;
    margin: 20px;
    box-shadow: 0 10px 10px 10px rgba(0, 181, 226, 0.2);
    animation: animate 3s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.blob {
    background-image: url(https://images.unsplash.com/photo-1509839862600-309617c3201e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
}

/* Estilos para dispositivos móviles (ancho de pantalla menor a 600px, puedes ajustar según tus necesidades) */
@media screen and (max-width: 100px) {
    .blob {
        width: 100%; /* O cualquier otro valor que desees para dispositivos móviles */
        height: auto;
    }
}

@keyframes animate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}



/* Media Quary */
@media screen and (max-width: 576px) {

    .nav ul{
        display: none;
    }

    .menu{
        display: block;
    }

    .hero-container{
        flex-direction: column-reverse;
        height: 100%;
    }
    .content{
        width: 100%;
    }
    .content h2{
        font-size: 2.4em;
    }
    .blob{
        width: 280px;
        height: 280px;
    }

    .about{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .left-side, .right-side{
        width: 100%;
    }
    input, textarea{
        width: 100%;
    }
    .footer-container{
        flex-direction: column-reverse;
    }
}

